.k1 {
width: 256px;
color: white; 
position: center;
top : 1438px;
left : 487px;
font-family: actor;
font-weight: reguler;
font: 32px;
opacity: 1;
text-align: center;
}
k2 {
    width: 256px;
    color: white; 
    position: absolute;
    top : 1438px;
    left : 487px;
    font-family: actor;
    font-weight: reguler;
    font: 32px;
    opacity: 1;
    text-align: center;
}
.k3 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}